<mat-card class="inventory-card mat-typography">
  <mat-card-content>
    <div class="inventory-detail-container">
      <div class="image-wrapper">
        <img
          ngSrc="{{ getInventoryImageUrl() }}"
          class="inventory-card-image"
          fill
          priority
        />
      </div>
      <div class="detail">
        <div class="title">{{this.item.itemName}}</div>
        <div class="description">{{this.item.itemDescription}}</div>
        <div class="price">{{this.item.price}}</div>
      </div>
      <div class="control-wrapper">
        <div class="controls"></div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
