<mat-card appearance="outlined" class="inventory-card mat-typography">
  <mat-card-content>
    <div class="inventory-detail-container">
      <div class="image-wrapper">
        <img
          ngSrc="{{ getImageUrl() }}"
          class="inventory-card-image"
          [placeholder]="placeholder"
          [priority]="index < 5"
          fill
        />
      </div>
      <div class="detail">
        <div class="title">
          {{ this.item.itemName }}
        </div>
        <mat-chip class="category">{{ this.item.category }}</mat-chip>
        <div class="description">{{ this.item.itemDescription }}</div>
      </div>
      <div class="control-wrapper">
        <div class="controls">
          <button mat-icon-button [disabled]="!item.onSale" (click)="onUnlistSaleButtonClicked()">
            <mat-icon>archive</mat-icon>
          </button>
          <button mat-icon-button (click)="onEditButtonClicked()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onDeleteButtonClicked()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="price">
          <mat-icon mat-list-icon>currency_rupee</mat-icon>{{ this.item.price }}
        </div>
        <button
          mat-stroked-button
          class="sell-button"
          [disabled]="item.onSale"
          (click)="onSellButtonClicked()"
        >
          <mat-icon mat-list-icon>unarchive</mat-icon>
          Sell
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
