table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

.mat-mdc-row:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}
